.card {
  color: aliceblue;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgba(179, 173, 172, 0.041);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #c4bbbb;
    color: black;
  }

.img {
    aspect-ratio: 3/2;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 8px;
}

.h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  } 
  
.p {
    font-size: 16px;
    margin-bottom: 16px;
  }